{{#each tastings as |tasting|}}
  <div data-id="{{tasting.id}}" class="card card-tasting">
    <div class="card-header">
        <h5>Tasting by: {{tasting.user.email}}</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title">Appearance: {{tasting.appearance}}</h6>
      <h6 class="card-text">Nose: {{tasting.nose}}</h6>
      <h6 class="card-title">Palate: {{tasting.palate}}</h6>
      <h6 class="card-text">Conclusions: {{tasting.conclusions}}</h6>
    </div>
  </div>
{{/each}}
