<div class="tastings-form mx-auto">
  <form id="tastings-update">
    <div class="form-group">
      <input type="text" class="form-control" name="tasting[id]" value="{{id}}" hidden/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="tasting[appearance]" value="{{appearance}}" placeholder="appearance"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="tasting[nose]" value="{{nose}}" placeholder="nose"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="tasting[palate]" value="{{palate}}" placeholder="palate"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="tasting[conclusions]" value="{{conclusions}}" placeholder="conclusions"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="tasting[user_id]" value="{{userid}}" hidden/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="tasting[wine_id]" value="{{wineid}}" hidden/>
    </div>
    <button type="submit" class="btn btn-primary btn-wines-create">Update Tasting</button>
  </form>
</div>
