{{#each wines as |wine|}}
  {{log wine}}

<a href="#">
  <div data-id="{{wine.id}}" class="card card-wine" style="width: 18rem;">
    <img class="card-img-top" src="https://organicwineexchange.com/wp-content/uploads/2013/01/Square-Red-Wine-Bottle-.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Producer: {{wine.producer}}</h5>
      <h6 class="card-text">Name: {{wine.name}}</h6>
      {{#if wine.name}}
        {{wine.name}}
      {{else}}
        No name provided.
      {{/if}}
    </div>
  </div>
  </a>
{{/each}}
